{{define "registro"}}
<!doctype html>
<html lang="en">

<head>
  <title>Registro</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="card">
    <div class="card-header">
      Registro empleado
    </div>
    <div class="card-body">
      <form method="post" action="/insertarRegistro">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text"
            class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">Correo</label>
          <input type="email" class="form-control" name="correo" id="correo" aria-describedby="emailHelpId" placeholder="">
          <small id="emailHelpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">Usuario</label>
          <input type="text"
            class="form-control" name="usuario" id="usuario" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="">
        </div>
        <button type="submit" class="btn btn-success">Agregar</button>
        <a href="/login" class="btn btn-primary active" role="button">Canselar</a>

      </form>
  </div>
</body>

</html>
{{end}}